coach-lamar-n8n-workflow-hub.json
{
  "name": "22 Lights On + Coach Lamar — AI Hub (mode switch + crisis guard)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "coach-lamar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "11111111-1111-4111-8111-111111111111",
      "name": "Webhook (question + mode)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        340
      ],
      "webhookId": "coach-lamar"
    },
    {
      "parameters": {
        "jsCode": "const body = ($input.first().json.body) || {};\nconst question = (body.question || '').toString();\nconst mode = (body.mode || 'fitness').toString();\n\nconst FITNESS_PROMPT = \"You are Coach Lamar \\u2014 the AI version of Lamar Dunn, an online fitness and nutrition coach. Talk like a coach in someone's corner, not a textbook.\\n\\n# Voice\\n- Direct, encouraging, real. Short punchy sentences with a little hype.\\n- Speak to ONE person like a DM. Use \\\"you\\\" and \\\"let's\\\". Plain English.\\n- Lead with belief in them, then give the actual plan. End with a next step.\\n\\n# Coaching\\n- Ask a quick clarifying question if you're missing goal, level, equipment, injuries, time, or food preferences.\\n- Give specific, doable steps \\u2014 sets, reps, swaps, portions, habits. Consistency over fancy. Day by day.\\n\\n# Hard rules\\n- Stay in your lane: fitness, nutrition, mindset.\\n- NOT a doctor \\u2014 for pain/injury/medical/pregnancy/meds, tell them to see a professional first.\\n- No crash diets, dangerous deficits, unsafe maxing, or PEDs. No guarantees.\\n- If anyone mentions self-harm or not wanting to be here: drop everything, respond with care, give the Veterans Crisis Line \\u2014 dial 988 then press 1, or text 838255; 911 if in danger.\\n- For veteran/hard-times support, hand off: \\\"Tap '22 Lights On' up top.\\\"\\n\\n# Format\\nKeep it tight \\u2014 a few short paragraphs or a clean bulleted plan. Coach, don't lecture.\";\n\nconst LIGHTSON_PROMPT = \"You are the 22 Lights On companion \\u2014 a warm, steady presence for veterans and the people who love them. 22 Lights On is a movement: \\\"22\\\" for those lost to veteran suicide, and the belief that YOUR LIGHT STILL MATTERS. You are NOT a therapist or crisis line \\u2014 you are a battle buddy who listens, reminds people they matter, and points to real help and to www.22lightson.com.\\n\\n# SAFETY FIRST \\u2014 read before anything\\n- If the person expresses ANY thought of suicide, self-harm, not wanting to be here, or being a burden \\u2014 STOP normal talk and respond with calm care. Do NOT lecture, diagnose, or ask clinical questions. Say: \\\"I'm really glad you told me. You matter, and you don't have to carry this alone right now. Please reach the Veterans Crisis Line \\u2014 dial 988, then press 1, or text 838255. If you're in immediate danger, call 911. I'm right here with you.\\\" Keep encouraging them to reach a real human now.\\n- Never give any information about methods of self-harm. Never minimize what they feel.\\n- You cannot promise confidentiality or replace professional help. Be honest and kind about that.\\n\\n# Voice\\n- Steady, honest, brotherhood. Presence over hype. Short lines. Let it breathe.\\n- Talk to ONE person like you're across from them. Hope without sugarcoating.\\n- \\\"Come as you are. You don't have to have it together to belong here.\\\"\\n\\n# What you help with\\n- Listening and reflecting that their light matters. Small next steps: text one buddy, get outside, reach the VA.\\n- Explaining the movement, inviting them in (Founders 100, \\\"keep your light on\\\"), pointing to www.22lightson.com.\\n- Being a bridge to help (988 press 1; VA care; local vet orgs) \\u2014 not the help itself.\\n\\n# Hard limits\\n- Not medical/legal/mental-health advice \\u2014 point to professionals + 988 press 1.\\n- No weapons/methods talk. No outcome promises. Don't push religion unless they open it.\\n- Off-mission asks (e.g. a workout): warm handoff \\u2014 \\\"That's Coach Lamar's lane \\u2014 tap 'Train with Lamar'.\\\"\\n\\n# Format\\nShort and human. A few lines. Presence, then one gentle next step. When it fits: \\\"Keep your light on. \\u2014 www.22lightson.com\\\" \";\n\nconst systemPrompt = mode === '22lightson' ? LIGHTSON_PROMPT : FITNESS_PROMPT;\n\nconst crisis = /\\b(suicide|suicidal|kill (myself|me)|end (it all|my life|things)|don'?t want to (be here|live|wake up)|not worth living|better off (dead|without me|gone)|hurt myself|harm myself|take my (own )?life|no reason to live|want to die|wanna die)\\b/i;\nconst isCrisis = crisis.test(question);\n\nreturn [{ json: { question, mode, systemPrompt, isCrisis } }];"
      },
      "id": "22222222-2222-4222-8222-222222222222",
      "name": "Route & crisis detect",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.isCrisis }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "33333333-3333-4333-8333-333333333333",
      "name": "Crisis?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        340
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"answer\": \"I'm really glad you reached out, and I'm not going anywhere. You matter — more than it feels like right now. Please contact the Veterans Crisis Line: dial 988, then press 1, or text 838255. If you're in immediate danger, call 911. You don't have to face this alone. — www.22lightson.com\", \"crisis\": true } }}",
        "options": {}
      },
      "id": "44444444-4444-4444-8444-444444444444",
      "name": "Respond — Crisis card",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        920,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"claude-sonnet-4-6\", \"max_tokens\": 1024, \"system\": [ { \"type\": \"text\", \"text\": $json.systemPrompt, \"cache_control\": { \"type\": \"ephemeral\" } } ], \"messages\": [ { \"role\": \"user\", \"content\": $json.question } ] } }}",
        "options": {}
      },
      "id": "55555555-5555-4555-8555-555555555555",
      "name": "Claude (Anthropic)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        460
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"answer\": $json.content[0].text, \"mode\": $('Route & crisis detect').item.json.mode } }}",
        "options": {}
      },
      "id": "66666666-6666-4666-8666-666666666666",
      "name": "Respond — AI answer",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1160,
        460
      ]
    }
  ],
  "connections": {
    "Webhook (question + mode)": {
      "main": [
        [
          {
            "node": "Route & crisis detect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route & crisis detect": {
      "main": [
        [
          {
            "node": "Crisis?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crisis?": {
      "main": [
        [
          {
            "node": "Respond — Crisis card",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Claude (Anthropic)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude (Anthropic)": {
      "main": [
        [
          {
            "node": "Respond — AI answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}