coach-lamar-daily-signal.json
{
  "name": "22 Lights On — Daily Signal + Social Caption (scheduled)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 7,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "d1111111-1111-4111-8111-111111111111",
      "name": "Every morning 7:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        160,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst start = new Date(now.getFullYear(), 0, 0);\nconst doy = Math.floor((now - start) / 86400000);\nconst wd = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'][now.getDay()];\nconst themes = [\n  'brotherhood — you are not alone in this',\n  'small wins — one honest step today',\n  'asking for help is strength, not weakness',\n  'honoring the fallen by living forward',\n  'purpose after the uniform',\n  'just one more day — stay',\n  'you are seen and you matter',\n  'rebuild — you are still being written',\n  'reach out to one battle buddy',\n  'the light you keep on saves someone else'\n];\nconst theme = themes[doy % themes.length];\nconst dateISO = now.toISOString();\nconst systemPrompt = \"You are the voice of 22 Lights On \\u2014 a movement for veterans and the people who love them. \\\"22\\\" honors those lost to veteran suicide; the belief is YOUR LIGHT STILL MATTERS. Your words are warm, steady, and uplifting \\u2014 you raise the frequency of whoever reads them.\\n\\nRules of the voice:\\n- Lift people WITHOUT bypassing pain. Honor the hard first, then point to the light. No toxic positivity.\\n- Brotherhood, presence, hope, forward motion. Plain and real. Short lines that hit.\\n- Speak to ONE person reading this on a hard morning.\\n- Never reference suicide methods or give medical/clinical advice.\";\nconst userPrompt = 'Write today\\'s 22 Lights On DAILY SIGNAL — a short (60-90 word) high-frequency message for veterans and their families. Today is ' + wd + '. Theme: ' + theme + '. Requirements: uplifting without bypassing pain; include ONE small, doable nudge (text a buddy, step outside, breathe, reach the VA); no hashtags in the body; end with the exact line \"Keep your light on. — www.22lightson.com\". Return ONLY the message text.';\nreturn [{ json: { dateISO, weekday: wd, theme, systemPrompt, userPrompt } }];"
      },
      "id": "d2222222-2222-4222-8222-222222222222",
      "name": "Signal seed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"claude-sonnet-4-6\", \"max_tokens\": 400, \"system\": [ { \"type\": \"text\", \"text\": $json.systemPrompt, \"cache_control\": { \"type\": \"ephemeral\" } } ], \"messages\": [ { \"role\": \"user\", \"content\": $json.userPrompt } ] } }}",
        "options": {}
      },
      "id": "d3333333-3333-4333-8333-333333333333",
      "name": "Claude — generate signal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const seed = $('Signal seed').item.json;\nconst signal = ($json.content && $json.content[0]) ? $json.content[0].text.trim() : '';\nreturn [{ json: { date: seed.dateISO, weekday: seed.weekday, theme: seed.theme, signal } }];"
      },
      "id": "d4444444-4444-4444-8444-444444444444",
      "name": "Format signal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const s = $json;\nconst systemPrompt = \"You are the voice of 22 Lights On \\u2014 a movement for veterans and the people who love them. \\\"22\\\" honors those lost to veteran suicide; the belief is YOUR LIGHT STILL MATTERS. Your words are warm, steady, and uplifting \\u2014 you raise the frequency of whoever reads them.\\n\\nRules of the voice:\\n- Lift people WITHOUT bypassing pain. Honor the hard first, then point to the light. No toxic positivity.\\n- Brotherhood, presence, hope, forward motion. Plain and real. Short lines that hit.\\n- Speak to ONE person reading this on a hard morning.\\n- Never reference suicide methods or give medical/clinical advice.\";\nconst userPrompt = 'Turn this 22 Lights On daily signal into an Instagram/Facebook caption. Keep the heart of the message. Start with a scroll-stopping first line (hook). Stay warm and high-frequency without bypassing pain. Add a gentle CTA to join the movement at www.22lightson.com. Then on new lines add exactly:\\n\\n\\uD83D\\uDCDE Veterans Crisis Line: dial 988, then press 1 \\u2022 Text 838255\\n\\n#22LightsOn #YourLightStillMatters #AlwaysBeMe #Veterans #NotOneMore #KeepYourLightOn\\n\\nReturn ONLY the caption. Here is the signal:\\n\\n' + s.signal;\nreturn [{ json: { date: s.date, weekday: s.weekday, theme: s.theme, signal: s.signal, systemPrompt, userPrompt } }];"
      },
      "id": "d7777777-7777-4777-8777-777777777777",
      "name": "Caption seed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"claude-sonnet-4-6\", \"max_tokens\": 500, \"system\": [ { \"type\": \"text\", \"text\": $json.systemPrompt, \"cache_control\": { \"type\": \"ephemeral\" } } ], \"messages\": [ { \"role\": \"user\", \"content\": $json.userPrompt } ] } }}",
        "options": {}
      },
      "id": "d8888888-8888-4888-8888-888888888888",
      "name": "Claude — draft caption",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1160,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const seed = $('Caption seed').item.json;\nconst caption = ($json.content && $json.content[0]) ? $json.content[0].text.trim() : '';\nreturn [{ json: { date: seed.date, weekday: seed.weekday, theme: seed.theme, signal: seed.signal, caption } }];"
      },
      "id": "d9999999-9999-4999-8999-999999999999",
      "name": "Format caption",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        360
      ]
    },
    {
      "parameters": {
        "resource": "sheet",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Signals",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.date }}",
            "Weekday": "={{ $json.weekday }}",
            "Theme": "={{ $json.theme }}",
            "Signal": "={{ $json.signal }}",
            "Caption": "={{ $json.caption }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "d5555555-5555-4555-8555-555555555555",
      "name": "Log — Signals + Caption",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1580,
        240
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fromEmail": "lamar@22lightson.com",
        "toEmail": "REPLACE_WITH_LIST_OR_YOUR_EMAIL",
        "subject": "🕯️ Your 22 Lights On Daily Signal + caption",
        "emailFormat": "text",
        "text": "={{ 'TODAY\\'S SIGNAL:\\n\\n' + $json.signal + '\\n\\n— — — — —\\n\\nREADY-TO-POST CAPTION:\\n\\n' + $json.caption }}",
        "options": {}
      },
      "id": "d6666666-6666-4666-8666-666666666666",
      "name": "Broadcast — Email (configure)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1580,
        460
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Every morning 7:00": {
      "main": [
        [
          {
            "node": "Signal seed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Signal seed": {
      "main": [
        [
          {
            "node": "Claude — generate signal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude — generate signal": {
      "main": [
        [
          {
            "node": "Format signal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format signal": {
      "main": [
        [
          {
            "node": "Caption seed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Caption seed": {
      "main": [
        [
          {
            "node": "Claude — draft caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude — draft caption": {
      "main": [
        [
          {
            "node": "Format caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format caption": {
      "main": [
        [
          {
            "node": "Log — Signals + Caption",
            "type": "main",
            "index": 0
          },
          {
            "node": "Broadcast — Email (configure)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}